<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.chesterleung.firefox-tabs</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>A1F0F1AB-0001-4000-8000-000000000001</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1F0F1AB-0002-4000-8000-000000000002</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A1F0F1AB-0003-4000-8000-000000000003</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chester Leung</string>
	<key>description</key>
	<string>Search open Firefox tabs and bookmarks with one keyword</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Firefox Tabs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Reading Firefox…</string>
				<key>script</key>
				<string>./fftabs search</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Firefox tabs and bookmarks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A1F0F1AB-0001-4000-8000-000000000001</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>case "$1" in
  x-apple*) open "$1" ;;
  "{"*) ./fftabs focus "$1" ;;
  *) open -b org.mozilla.firefox "$1" ;;
esac</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A1F0F1AB-0002-4000-8000-000000000002</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A1F0F1AB-0003-4000-8000-000000000003</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>`ff` searches open tabs and bookmarks (★). ↩ switches to the tab or opens the bookmark; ⌘↩ copies the URL. Filter by title, URL, host, port or folder; add `tab` or `bookmark` to narrow. Change the keyword via the `keyword` workflow variable.

https://github.com/chester-leung/alfred-firefox-tabs</string>
	<key>uidata</key>
	<dict>
		<key>A1F0F1AB-0001-4000-8000-000000000001</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>A1F0F1AB-0002-4000-8000-000000000002</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>A1F0F1AB-0003-4000-8000-000000000003</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>keyword</key>
		<string>ff</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0-dirty</string>
	<key>webaddress</key>
	<string>https://github.com/chester-leung/alfred-firefox-tabs</string>
</dict>
</plist>
